# Node.js
node_modules/

# Dependency directories
npm-debug.log
yarn-error.log
.pnp
.pnp.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# OS-specific files
.DS_Store
Thumbs.db


